select#lamination-select option:disabled{
  border-bottom: 1px solid #cecece;
  font-weight: bold;
  color: #b9b9b9;
}

.main-nav {
  background-color: #dadada;
  height: 55px;
  border: 1px solid #c6c6c6;
}
  .nav-link {
    margin: 15px;
  }
  .nav-link a{
    color: #434343;
  }

  .nav-link #nav-text {
    color: #4f9e2e;
  }

.main-select-option {
  height: 55px;
  border: 1px solid #c6c6c6;
  border-top: none;
  border-bottom: none;
}
  .selected-option {
    margin: 18px 0 0 10px;
  }

  .main-header {
    border: 1px solid #c6c6c6;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: #ebebeb;
    height: 24px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

  .header {
    position: relative;
    top: 5px;
  }

  .main-content {
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
  }

    table.visor-folders-table {
      padding-top: 10px;
      border: none;
      margin-left: -2px;
    }

.checked-option {
  display: block;
}

tr.folder-tr {
    height: 80px;
    width: 920px;
    border: 1px solid #c9c9c9;
    border-left: none;
    border-top: none;
    background-color: #e9e9e9;
    float: left;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }

  tr.folder-tr:first-child {
    border-top: 1px solid #c9c9c9;
  }

  tr.folder-tr:hover {
    background-color: #f9f9f9;
  }

  .country-check {
    height: 100px;
    max-width: 910px;
    /* border: 1px solid #c9c9c9; */
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    border-left: none;
    float: left;
    background-color: #e9e9e9;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }
  .country-item-visors {
    width: 100px;
    font-size: 12px;
  }
    td.folder-name {
      display: inline-block;
      height: 100%;
      width: 250px;
      text-align: center;
      border-right: 1px solid #cecece;
    }

      .folder-text {
        position: relative;
        top: 25px;
      }

    td.folder-img {
      display: inline-block;
      height: 100%;
      width: 250px;
      text-align: center;
      border-right: 1px solid #cecece;
    }

      .glass-img-wraper {
        text-align: center;
        position: relative;
        top: 10px;
        height: 60px;
      }

        .glass-img-wraper img {
          min-width: 120px;
          min-height: 60px;
          max-width: 120px;
          max-height: 60px;
          background-size: contain;
        }

    td.folder-description {
      display: inline-block;
      height: 80%;
      width: 395px;
      padding: 5px;
      text-align: left;
    }

      .description-wraper {
        display: inline-block;
        height: 50%;
        width: 380px;
        padding: 10px;
        text-align: left;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
      }

    td.visor-folder-add {
      background-color: #d0d0d0;
      color: #767676;
      font-size: 12px;
      -webkit-transition: background-color 0.5s;
      -moz-transition: background-color 0.5s;
      -ms-transition: background-color 0.5s;
      -o-transition: background-color 0.5s;
      transition: background-color 0.5s;
    }

    td.visor-folder-add:hover{
      background-color: #e1e1e1;
      cursor: pointer;
    }

      .folder-add-text {
        position: relative;
        top: 32px;
      }

      .edit-wrap {
        /*display: inline-block;*/
        width: 355px;
      }

        .btn-edit-folder {
          float: right;
          margin-top: -84px;
          margin-right: -85px;
          height: 26px;
          width: 24px;
          background-image: url('/assets/images/hardwares/edit_inactive.png');
        }

        .btn-edit-folder:hover {
          cursor: pointer;
          background-image: url('/assets/images/hardwares/edit_active.png');
        }

        .btn-delete-folder {
          float: right;
          margin-top: -54px;
          margin-right: -83px;
          height: 20px;
          width: 20px;
          background-image: url('/assets/images/remove_btn.png');
        }

        .btn-delete-folder:hover {
          cursor: pointer;
        }

        td.folder-not-exist {
          text-align: center;
          width: 921px;
          font-size: 12px;
        }

  /** popups */
  .pop-up {
    display: none;
  }
  .popup-add-color,
  .popup-edit-color {
    width: 350px;
    height: 220px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #e4e4e4;
    padding: 0 30px;
    font-size: 12px;
  }
  .btn-delete-color {
    float: right;
    margin-top: -54px;
    margin-right: -83px;
    height: 20px;
    width: 20px;
    background-image: url('/assets/images/remove_btn.png');
  }
  .btn-edit-color {
    float: right;
    margin-top: -84px;
    margin-right: -85px;
    height: 26px;
    width: 24px;
    background-image: url('/assets/images/hardwares/edit_inactive.png');
  }
  .btn-edit-color:hover {
    cursor: pointer;
    background-image: url('/assets/images/hardwares/edit_active.png');
  }
  .btn-delete-color:hover {
    cursor: pointer;
  }
  td.color-add:hover{
    background-color: #e1e1e1;
    cursor: pointer;
  }
  td.color-add {
    background-color: #d0d0d0;
    color: #767676;
    font-size: 12px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }

    .content-block {
      height: 30px;
    }

    .content-block {
      text-align: left;
    }

      .field-margin-popup {
        float: left;
        width:  130px;
        text-align: right;
      }

      .input-margin-popup {
        float: right;
        width: 205px;
      }
    .content-block-description {
      height: 110px;
    }

    .content-block-image {
      height: 80px;
    }

      #glass-group-img,
      #edit-glass-group-img,
      #sill-group-img,
      .group-img {
        position: relative;
        top: 10px;
        display: inline-block;
        width: 164px;
        height: 64px;
        background-image: url('/assets/images/add_img_btn_inactive.png');
      }

      #glass-group-img:hover,
      #edit-glass-group-img:hover,
      #sill-group-img:hover,
      .group-img:hover {
        background-image: url('/assets/images/add_img_btn_active.png');
      }

      #glass-group-image,
      #edit-glass-group-image,
      #sill-group-image,
      .group-image {
        position: relative;
        top: 10px;
        left: 20px;
        max-width: 194px;
        max-height: 64px;
      }

    .submit-row {
      padding-top: 5px;
      text-align: center;
      width: 100%;
      height: 50px;
    }

    .hidden {
      display: none;
    }

    .disabled {
      opacity: 0.3;
    }

  .add-new-visor-folder-pop-up,
  .edit-visor-folder-pop-up {
    width: 350px;
    height: 355px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #e4e4e4;
    padding: 0 30px;
    font-size: 12px;
  }

  /** btns */
  input.btn-submit {
    width: 140px;
    /* border-radius: 3px; */
    color: #fff;
    text-shadow: 0px 1px #9fb994;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    height: 35px;
    /* background: url("/assets/images/save_inactive.png") no-repeat center; */
    background-color: black;
    border-radius: 25px;
    cursor: pointer;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: bold;
    line-height: 12px;
  }

  input.btn-submit:hover {
    /* background: url("/assets/images/save_active.png"); */
    opacity: 0.85;
  }

  input.btn-edit {
    display: inline-block;
    width: 24px;
    height: 26px;
    background: url("/assets/images/hardwares/edit_inactive.png") no-repeat center;
    text-shadow: 0px 1px 0px #45822b;
    color:#fff;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight:bold;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    border: 0;
    text-indent:-9999px;
  }

  input.btn-edit:hover {
    background: url("/assets/images/hardwares/edit_active.png");
  }

  .delete-alert {
    width: 290px;
  }

.input-default {
  height: 15px;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  color: #7b7a7a;
  padding-left: 5px;
}

.select-default {
  width: 180px;
  height: 22px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(/assets/images/arrows.png) no-repeat center #fff;
  background-position : calc(100% - 5px) 8px;
  padding: 0px 5px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #b7b7b7;
  background-color: #fff;
  padding:0px 5px;
}

.select-default:hover {
  cursor: pointer;
}
