.pop-up.pop-up-pls#popup-add-profile-pls
  form#add-profile-pls-form(method="POST" action="/base/shields/grids/profiles/addProfile" enctype="multipart/form-data")
    //- input(type="hidden" name="group_id" value='' required)
    .pop-up-close-wrap
      a(class="pop-up-close", href="#")
    span.pop-up-header
      =i18n.__('Add')
    
    .pop-up-pls-rows 
      .row-name.pls-row 
        .title-name.title
          =i18n.__('Name')
          | :
        input.input-default.text-name(type="text" value="" name="name" required)
      .row-sku.pls-row 
        .title-sku.title
          =i18n.__('SKU')
          | :
        input.input-default.text-sku(type="text" value="" name="sku" required)
      .row-type.pls-row 
        .title-type.title
          =i18n.__('unit_short')
          | :
        select.select-default.select-profile-type(style="width: 150px;" name="type" required)
          option(value="1") 
            =i18n.__('Frame')
          option(value="2") 
            =i18n.__('pls_threshold')
          option(value="3") 
            =i18n.__('pls_bar')
          option(value="4") 
            =i18n.__('pls_drum')
      .row-price.pls-row 
        .title-price.title
          =i18n.__('Price')
          | :
        input.input-default.text-price(style="width: 50px;" type="number" value="" name="price" step="0.01" required)
      
      .row-currency.pls-row 
        .title-currency.title
          =i18n.__('Currency')
          | :
        select.select-default.input-margin#pls-currency(style="width: 150px;" name="currency_id")
      
      .row-waste.pls-row 
        .title-waste.title
          =i18n.__('Waste') + ' (%)'
          | :
        input.input-default.text-waste(style="width: 50px;" type="number" value="" name="waste" step="0.01" required)
      .row-amendment-pruning.pls-row 
        .title-amendment-pruning.title
          =i18n.__('Correction for pruning') + ' ' + i18n.__('(mm)')
          | :
        input.input-default.text-amendment-pruning(style="width: 50px;" type="number" value="" name="amendment_pruning" step="0.01" required)
      .row-weight.pls-row 
        .title-weight.title
          =i18n.__('Weight (kg)')
          | :
        input.input-default.text-weight(style="width: 50px;" type="number" value="" name="weight" step="0.01" required)
    .row.block-center.text-center
      input.btn-submit(type="submit" value=i18n.__('Add'))
