.pop-up.pop-up-pls#popup-add-link-element-pls
  form#add-link-element-pls-form(method="POST" action="/base/shields/grids/profiles/addLinkElement" enctype="multipart/form-data")
    input(type="hidden" name="parent_id" value='' required)
    .pop-up-close-wrap
      a(class="pop-up-close", href="#")
    span.pop-up-header
      =i18n.__('Add')
    
    .pop-up-pls-rows 
      .row-element.pls-row 
        .title-element.title
          =i18n.__('Element')
          | :
        select.select-default.select-elements(style="width: 500px;" name="element_id" required)      
      .row-rules.pls-row 
        .title-rules.title
          =i18n.__('Rule')
          | :
        select.select-default.select-rules(style="width: 500px;" name="rules_id" required)      
      .row-rules-value.pls-row 
        .title-rules-value.title
          =i18n.__('Value')
          | :
        input.input-default.text-rules-value(style="width: 50px;" type="number" value="" name="rules_value" step="0.01" required)
    .row.block-center.text-center
      input.btn-submit(type="submit" value=i18n.__('Add'))
