.pop-up-default.delete-alert
  .pop-up-close-wrap.pop-up-default-close
    a.pop-up-close(value="" href="#")
  span.pop-up-header
    | 
  .alert-name-pop-up
    =i18n.__('Are you sure?') 
  .btns-align
    input.pop-up-submit-btn(id="delete-submit", data-item="" href="#", type="button" value=i18n.__('Remove'))
    input.pop-up-deny-btn(id="delete-deny", href="#", type="button" value=i18n.__('Cancel'))