script(src="/assets/javascripts/vendor/jquery-1.11.2.min.js")
script(src="/assets/javascripts/main.js")
script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js")
script(src="/assets/javascripts/vendor/hierarchyList/jquery.tbltree.js")
each scriptSrc in scriptSrcs
  script(src=scriptSrc)
link(rel="stylesheet", href="/assets/stylesheets/vendor/calendar/ion.calendar.css")
link(rel="stylesheet", href="/assets/stylesheets/vendor/toaster/jquery.toast.min.css")
script(src="/assets/javascripts/vendor/jquery.jeditable.mini.js")
script(src="/assets/javascripts/vendor/calendar/moment.min.js")   
script(src="/assets/javascripts/vendor/calendar/moment.ru.js")   
script(src="/assets/javascripts/vendor/calendar/ion.calendar.min.js")
script(src="/assets/javascripts/vendor/popup/jquery.popupoverlay.js")
script(src="/assets/javascripts/vendor/toaster/jquery.toast.min.js")
