# База данных
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=5432

# Почта
MAILER_USER=
MAILER_PASSWORD=
MAILER_HOST=
MAILER_SSL=false
MAIL_FROM=

# Ссылки приложения
SPEC_LINK=
CALCULATOR_LINK=
ORDER_EXPORT_LINK=
EXPORT_ORDER_HZ_LINK=
ANALYTICS_URL=
ACTIVATION_URL=
PRO_URL=
DOCUMENTS_URL=
STATISTIC_LINK=

# Сервер
PORT=3000
SESSION_SECRET=
NODE_ENV=production
