.pop-up.add-new-sill-folder-pop-up
  form#add-new-sill-folder-form(method="POST" action="/base/options/window-sills/add-new-folder" enctype="multipart/form-data")
    .pop-up-close-wrap
      a(class="pop-up-close", href="#")
    span.pop-up-header
      =i18n.__('Add new group')
    .content-block
      span.field-margin-popup
        =i18n.__('Group name')
        | /
        =i18n.__('Position')
        | :
      input.input-default.input-margin-popup#new-group-position-popup(type="text" name="position" value="" style="width: 30px;")
      input.input-default.input-margin-popup#new-group-name(type="text" value="" name="name" style="width: 166px;")
    .content-block
      span.field-margin-popup
        =i18n.__('Link')
        | :
      input.input-default.input-margin-popup#new-group-link(type="text" name="link" value="" style="width: 205px;")
    .content-block-description
      span.field-margin-popup
        =i18n.__('Description')
        | :
      textarea.input-default.input-margin-popup#new-group-description(type="text" name="description" value="" style="width: 205px; height: 100px; resize: none;")
    .row
      .col-md-5.text-right(style="width: 130px!important;")
        | Макс. размер (мм):
      .col-md-7(style="width: 205px!important;")
        input.input-default(type="text" name="max_size" value="0" style="width: 205px!important;")
    .content-block-image
      input.hidden(id="select-sill-group-image" type="file" name="folder_img")
      a(href="#" type="button" id="sill-group-img" style="margin-left: 10px;")
      img(id="sill-group-image" style="height: 64px; width: 124px; margin-left: 20px;" src="/local_storage/default.png")
    .submit-row
      input.btn-submit#submit-add-new-sill-group(type="button" value=i18n.__('Add'))
