.pop-up.edit-presets-folder-pop-up
  form#edit-presets-folder-form(method="POST" action="/base/options/presets/editPresetFolder" enctype="multipart/form-data")
    input.hidden#edit-presets-folder-input-id(type="text" name="folder_id" value="")
    .pop-up-close-wrap
      a(class="pop-up-close", href="#")

    label(for="")
            =i18n.__('Name')
    input.input-default.input-margin-popup#edit-preset-folder-name-popup(type="text" name="name" value="" style="width: 166px;")
    label(for="")
        =i18n.__('Position')
    input.input-default.input-margin-popup#edit-preset-folder-position-popup(type="text" name="position" value="0" style="width: 30px;")

    .wrapp-btn
      input.btn-submit#submit-edit-presets-folder(type="button" data-folder="" value=i18n.__('Save'))
