.pop-up.pop-up-rolet#popup-add-add-element-rolet
  form#add-add-element-rolet-form(method="POST" action="/base/shields/rolet/addElements/addElement" enctype="multipart/form-data")
    //- input(type="hidden" name="group_id" value='' required)
    .pop-up-close-wrap
      a(class="pop-up-close", href="#")
    span.pop-up-header
      ='Add new Element'
    .row
      .col-md-6
        img.rolet-image(src="/local_storage/default.png")
      .col-md-6
        input.hidden.rolet-image-file(type="file" name="rolet_img")
        input.add-image-btn(type="button" value=i18n.__('Add'))
    .pop-up-rolet-rows 
      .row-name.rolet-row 
        .title-name.title
          =i18n.__('Name')
          | :
        input.input-default.text-name(type="text" value="" name="name" required)
      .row-position.rolet-row 
        .title-position.title
          =i18n.__('Position')
          | :
        input.input-default.text-position(type="number" value="" name="position" required)
      .row-add-element-price.rolet-row 
        .title-add-element-price.title
          =i18n.__('Price')
          | :
        input.input-default.text-add-element-price(type="number" value="" name="price" step="0.01" required)
      .row-add-element-min-qty.rolet-row 
        .title-add-element-min-qty.title
          =i18n.__('min_quantity')
          | :
        input.input-default.text-add-element-min-qty(type="number" value="" name="min_qty")
      .row-add-element-rule.rolet-row 
        .title-add-element-rule.title
          =i18n.__('unit_short')
          | :
        select.select-default.select-rules-price-add-element(name="rule" required)
          option(value="1") 
            =i18n.__('pcs')
          option(value="2") 
            =i18n.__('m')
          option(value="3") 
            =i18n.__('sq. m')
          option(value="4") 
            =i18n.__('unit_kg')
          option(value="5") 
            =i18n.__('mm')
          option(value="6") 
            =i18n.__('unit_cm')
      .row-is-settings.rolet-row 
        .title-add-element-notcalc.title
          =i18n.__('no_multiply_by_qty')
          | :
        label.checkbox-label
          input.input-default.checkbox-rolet-popup(type="checkbox" name="is_fix_price" value="1")
          span.checkbox-custom
    .row-description
      .title-description
        =i18n.__('Description')
        | :
      textarea.input-default.text-description(name="description")  
    .row.block-center.text-center
      input.btn-submit(type="submit" value=i18n.__('Add'))
