.pop-up.pop-up-rolet#popup-delete-group-rolet
  form#delete-group-rolet-form(method="POST" action="/base/shields/rolet/rolet/group/delete" enctype="multipart/form-data")
    input(type="hidden" name="group_id" value='' required)
    .pop-up-close-wrap
      a(class="pop-up-close", href="#")
    span.pop-up-header
      ='Delete ?'
    .row.block-center.text-center
      input.btn-submit(type="submit" value=i18n.__('Remove'))
