.pop-up.pop-up-rolet#popup-edit-group-rolet
  form#edit-group-rolet-form(method="POST" action="/base/shields/rolet/rolet/group/edit" enctype="multipart/form-data")
    input(type="hidden" name="group_id" value='' required)
    .pop-up-close-wrap
      a(class="pop-up-close", href="#")
    span.pop-up-header
      =i18n.__('Edit')
    .row
      .col-md-6
        img.rolet-image(src="/local_storage/default.png")
      .col-md-6
        input.hidden.rolet-image-file(type="file" name="rolet_img")
        input.add-image-btn(type="button" value="Изменить фото")
    .pop-up-rolet-rows 
      .row-name.rolet-row 
        .title-name.title
          =i18n.__('Group name')
          | :
        input.input-default.text-name(type="text" value="" name="name" required)
      .row-position.rolet-row 
        .title-position.title
          =i18n.__('Position')
          | :
        input.input-default.text-position(type="text" value="" name="position" required)
      //- .row-is-settings.rolet-row
      //-   .title-is-several.title
      //-     ='Is split'
      //-     | :
      //-   label.checkbox-label
      //-     input.input-default.checkbox-rolet-popup(type="checkbox" name="is_split" value="1")
      //-     span.checkbox-custom
      //- .row-is-settings.rolet-row
      //-   .title-is-grid.title
      //-     ='Is grid'
      //-     | :
      //-   label.checkbox-label
      //-     input.input-default.checkbox-rolet-popup(type="checkbox" name="is_grid" value="1")
      //-     span.checkbox-custom
      //- .row-is-settings.rolet-row
      //-   .title-is-defense.title
      //-     ='Is security'
      //-     | :
      //-   label.checkbox-label
      //-     input.input-default.checkbox-rolet-popup(type="checkbox" name="is_security" value="1")
      //-     span.checkbox-custom
      //- .row-is-settings.rolet-row
      //-   .title-is-engine.title
      //-     ='Is engine'
      //-     | :
      //-   label.checkbox-label
      //-     input.input-default.checkbox-rolet-popup(type="checkbox" name="is_engine" value="1")
      //-     span.checkbox-custom
    .row-description
      .title-description
        =i18n.__('Description')
        | :
      textarea.input-default.text-description(name="description")
    //- .row
    //-   .col-md-5.text-right
    //-     =i18n.__('Group name')
    //-     | :
    //-   .col-md-7
    //-     input.input-default(type="text" value="" name="name" style="width: 149px;" required)
    
    .row.block-center.text-center
      input.btn-submit(type="submit" value=i18n.__('Save'))
