.pop-up.pop-up-rolet#popup-edit-guide-rolet
  form#edit-guide-rolet-form(method="POST" action="/base/shields/rolet/guides/guide/edit" enctype="multipart/form-data")
    input(type="hidden" name="guide_id" value='' required)
    .pop-up-close-wrap
      a(class="pop-up-close", href="#")
    span.pop-up-header
      ='Edit guide'
    .row
      .col-md-6
        img.rolet-image(src="/local_storage/default.png")
      .col-md-6
        input.hidden.rolet-image-file(type="file" name="rolet_img")
        input.add-image-btn(type="button" value="Изменить фото")
    .pop-up-rolet-rows 
      .row-name.rolet-row 
        .title-name.title
          =i18n.__('Name')
          | :
        input.input-default.text-name(type="text" value="" name="name" required)
      .row-position.rolet-row 
        .title-position.title
          =i18n.__('Position')
          | :
        input.input-default.text-position(type="number" value="" name="position" required)
      .row-height.rolet-row 
        .title-height.title
          =i18n.__('Height')
          | :
        input.input-default.text-height(type="number" value="" name="height" required)
      .row-size-by-lamel.rolet-row 
        .title-size-by-lamel.title
          ='Thickness'
          | :
        input.input-default.text-size-by-lamel(type="number" value="" name="thickness" required)
      .row-guide-price.rolet-row 
        .title-guide-price.title
          =i18n.__('Price')
          | :
        input.input-default.text-guide-price(type="number" value="" name="price" step="0.01")
      .row-is-settings.rolet-row
        .title-is-lamination.title
          ='Is color'
          | :
        label.checkbox-label
          input.input-default.checkbox-rolet-popup(type="checkbox" name="is_color" value="1")
          span.checkbox-custom
      .row-is-settings.rolet-row
        .title-is-grid-guide.title
          ='Is grid guide'
          | :
        label.checkbox-label
          input.input-default.checkbox-rolet-popup(type="checkbox" name="is_grid" value="1")
          span.checkbox-custom
          
    .row-description
      .title-description
        =i18n.__('Description')
        | :
      textarea.input-default.text-description(name="description")  
    .row.block-center.text-center
      input.btn-submit(type="submit" value=i18n.__('Save'))
