/** nav */
.main-nav {
  background-color: #dadada;
  height: 55px;
  border: 1px solid #c6c6c6;
}
@media (max-width: 1800px) {
  .main-nav {
    height: 80px;
  }
}

.nav-link {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
.nav-link a {
  /* color: white; */
  color: #434343;
  padding: 2px 25px;
  border-radius: 20px;
  text-decoration: none;
  margin: 0 15px;
  /* background-color: #434343; */
  background-color: white;
}

.nav-link #nav-text {
  color: white;
  /* color: #434343; */
  background-color: #434343;
  /* background-color: white; */
  padding: 2px 25px;
  margin: 0 15px;
  border-radius: 20px;
}

main {
  height: 90%;
  width: 95%;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* elements page */
.btn-add-element,
.btn-add-profile,
.btn-add-grid,
.btn-add-group,
.btn-add-system,
.btn-add-color,
.btn-add-template,
.add-element-to-profile,
.add-element-to-element,
.add-element-to-grid {
  width: 20%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 10px 10px auto;
  cursor: pointer;
  &:hover {
    background-color: #434343;
  }
}

.btns-block {
  display: flex;
  align-items: center;
  gap: 30px;
  .btn-active {
    width: 35px;
    height: 15px;
    position: relative;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    background-color: green;
    margin: 3px 0;
    &::before {
      content: '';
      position: absolute;
      right: 1px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: white;
      transition: 0.3s;
    }
    &.btn-unactive::before,
    &.btn-unstandart::before {
      right: 19px;
      transition: 0.3s;
    }
    &.btn-unactive,
    &.btn-unstandart {
      background-color: lightgray;
      transition: 0.3s;
    }
  }
  .btn-edit-item {
    width: 20px;
    height: 20px;
    background-image: url('/assets/images/icon-edit.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      color: white;
      opacity: 1;
    }
  }
  .btn-delete-item {
    width: 20px;
    height: 20px;
    background-image: url('/assets/images/icon-delete.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      color: white;
      opacity: 1;
    }
  }
  .btn-show-more {
    width: 20px;
    height: 20px;
    background-image: url('/assets/images/22.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      color: white;
      opacity: 1;
    }
  }
}


.system-list {
  margin: 0 20px;
}

.elements-list,
.grids-list,
.group-list,
.system-list,
.colors-list,
.templates-list,
.profiles-list {
  .element-row,
  .grid-row,
  .system-row,
  .profile-row,
  .color-row,
  .template-row,
  .group-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid lightgray;
    &.opacity-content {
      background-color: #f0f0f0;
    }
    .element-content,
    .grid-content,
    .group-content,
    .system-content,
    .color-content,
    .template-content,
    .profile-content {
      display: flex;
      align-items: center;
      font-size: 13px;
      gap: 10px;
      width: 90%;

      .grid-img,
      .color-img,
      .template-img,
      .system-img {
        width: 50px;
        height: 50px;
        background-color: lightgray;
        overflow: hidden; 
        img {
          width: 100%;
          height: 100%;
          object-fit: contain; 
          object-position: center; 
          display: block;
        }
      }
      .element-name,
      .grid-name,
      .template-name,
      .profile-name {
        width: 40%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-right: 1px solid lightgray;
      }
      .element-article,
      .grid-article,
      .profile-article {
        width: 35%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-right: 1px solid lightgray;
      }
      .element-price,
      .grid-price,
      .profile-price {
        width: 6%;
        border-right: 1px solid lightgray;
      }
      .element-unit-type,
      .profile-type {
        width: 10%;
        border-right: 1px solid lightgray;
      }
      .element-weight,
      .grid-weight,
      .profile-weight {
        width: 6%;
        border-right: 1px solid lightgray;
      }
    }
    .btns-block {
      min-width: 5%;
    }
  }
}

.profile-elements,
.elements-elements,
.grid-elements {
  /* border-bottom: 5px solid black; */
  background-color: #dadada;
  padding: 0 20px 20px 20px;
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .profile-elements-header,
  .elements-elements-header,
  .grid-elements-header,
  .elements-info-text {
    font-size: 14px;
    font-weight: bold;
  }
  .profile-elements-header,
  .grid-elements-header,
  .elements-elements-header,
  .profile-elements-row,
  .elements-elements-row,
  .grid-elements-row {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid lightgray;
    .profile-elements-content,
    .elements-elements-content,
    .grid-elements-content {
      display: flex;
      align-items: center;
      font-size: 13px;
      gap: 10px;
      width: 90%;
      .profile-elements-name,
      .elements-elements-name,
      .grid-elements-name {
        width: 30%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-right: 1px solid lightgray;
      }
      .profile-elements-article,
      .elements-elements-article,
      .grid-elements-article {
        width: 30%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-right: 1px solid lightgray;
      }
      .profile-elements-rules-name,
      .elements-elements-rules-name,
      .grid-elements-rules-name {
        width: 20%;
        border-right: 1px solid lightgray;
      }
      .profile-elements-rules-value,
      .elements-elements-rules-value,
      .grid-elements-rules-value {
        width: 6%;
        border-right: 1px solid lightgray;
      }
    }
    .btns-block {
      min-width: 5%;
    }
  }
}


.price-table {
  max-height: 75vh;
  overflow: auto;
  display: flex;
  flex-direction: column;

  .color-group-box {
    position: sticky; 
    top: 0;
    z-index: 2;
    display: flex; 
    flex-wrap: nowrap;
    background: #fff;
    min-width: max-content;

    .header-box {
      box-sizing: border-box;
      flex: 0 0 260px;
      width: 260px;
      padding-left: 10px;
      border: 1px solid lightgray;
      background-color: green;
    }
    .color-group-row {
      box-sizing: border-box;
      flex: 0 0 100px;
      width: 100px;
      border: 1px solid lightgray;
      text-align: center;
      overflow-wrap: break-word;
    }
  }

  .system-groups-box {
    display: flex; flex-direction: column;
    min-width: max-content;
    .system-group-box-name {
      background-color: #ccc;
      padding-left: 10px;
      font-weight: bold;
    }

    .system-box {
      display: flex; flex-wrap: nowrap;
      height: 25px;
      border: 1px solid lightgray;
      box-sizing: border-box;

      .system-name {
        position: sticky; 
        top: 0;
        left: 0;
        z-index: 1;
        box-sizing: border-box;
        flex: 0 0 260px;         
        width: 260px;
        padding-left: 10px;       
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .price-field {
        position: relative;
        box-sizing: border-box;
        flex: 0 0 100px;          
        width: 100px;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;

        input {
          width: 90%;
          border: none;
          text-align: center;
        }
        .percent-indicator {
          position: absolute;
          top: 0;
          right: 5px;
        }
      }
    }
  }
}



/** pop-ups */
.pop-up {
  display: none;
  &.pop-up-pls {
    width: 500px;
    height: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    .title {
      font-size: 14px;
    }
    &#popup-delete-element-pls,
    &#popup-delete-link-element-pls,
    &#popup-delete-profile-pls {
      width: 200px;
      height: 100px;
    }

    &#popup-add-link-element-pls,
    &#popup-edit-link-element-pls {
      width: 800px;
    }

    img.pls-image {
      margin-top: 10px;
      height: 100px;
      width: 100px;
      background-color: lightgray;
      margin-left: 20px;
      object-fit: contain;
      object-position: center;
      display: block;
    }
    .add-image-btn {
      background-image: none;
      width: 200px;
      height: 25px;
      align-items: center;
      background-color: black;
      color: white;
      left: -5px;
    }
    .pop-up-pls-rows {
      input {
        width: 45%;
        &.text-height {
          width: 10%;
        }
        &.text-position {
          width: 10%;
        }
      }
      .pls-row {
        display: flex;
        margin: 10px 0;
        .title {
          width: 250px;
          flex: 0 0 250px;
        }
      }
      .for-type-checkboses {
        display: flex;
        gap: 70px;
        padding-left: 20px;
      }
      .min-square-price-label {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        width: 125px;
        color: #888;
        input {
          width: 50px;
        }
      }
      
      .row-is-settings {
        .checkbox-label {
          position: relative;
          display: inline-block;
          width: 35px;
          height: 15px;
          border: 1px solid #c6c6c6;
          border-radius: 10px;
          cursor: pointer;
          transition: 0.3s;
        }
        .checkbox-custom {
          position: absolute;
          border-radius: 50%;
          inset: 0;
          border-radius: 999px;
          background-color: lightgray;
          transition: 0.3s;
        }
        .checkbox-custom::before {
          position: absolute;
          content: '';
          width: 15px;
          height: 15px;
          right: 19px;
          border-radius: 50%;
          background-color: white;
          transition: 0.3s;
        }

        .checkbox-rolet-popup:checked + .checkbox-custom {
          background-color: green;
          transition: 0.3s;
        }
        .checkbox-rolet-popup:checked + .checkbox-custom::before {
          right: 0;
          transition: 0.3s;
        }
      }

    }

    .row-description {
      margin: 10px 0;
      .text-description {
        width: 95%;
        min-height: 100px;
        margin: 5px 0;
      }
    }

    .row-countries {
      display: flex;
      flex-wrap: wrap;
      margin: 15px 0;
      .country-item {
        width: 100px;
        font-size: 12px;
      }
    }

    .row-templates-links{
      display: flex;
      flex-wrap: wrap;
      gap: 5px 20px;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      padding: 10px 0;
      margin: 10px 0;
      .system-checkbox-block {
        flex: 0 0 45%;
      }
      label {
        font-size: 14px;
      }
      input {
        width: 25px;
        margin: 0;
        padding: 0;
        opacity: 0;
      }
    }
  }
}








.main-content {
  padding: 10px 0 20px 0;
  border: 1px solid #c6c6c6;
  border-top: none;
  .titel-page {
    padding: 10px;
  }
}


/* Активный квадратик */
.color-radio-tile input:checked + .color-swatch {
  border-color: #444;
}
