/** nav */
.main-nav {
  background-color: #dadada;
  height: 55px;
  border: 1px solid #c6c6c6;
}

.nav-link {
  margin: 15px;
}
.nav-link a {
  /* color: white; */
  color: #434343;
  padding: 2px 25px;
  border-radius: 20px;
  text-decoration: none;
  margin: 0 15px;
  /* background-color: #434343; */
  background-color: white;
}

.nav-link #nav-text {
  color: white;
  /* color: #434343; */
  background-color: #434343;
  /* background-color: white; */
  padding: 2px 25px;
  margin: 0 15px;
  border-radius: 20px;
}

main {
  height: 90%;
  width: 95%;
}

/** pop-ups */
.pop-up {
  display: none;
  &.pop-up-rolet {
    width: 500px;
    height: 650px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    .title {
      font-size: 14px;
    }
    &#popup-delete-group-rolet,
    &#popup-delete-guide-rolet,
    &#popup-delete-end-list-rolet,
    &#popup-delete-lamel-rolet,
    &#popup-delete-system-rolet {
      width: 200px;
      height: 100px;
    }
    img.rolet-image {
      margin-top: 10px;
      height: 100px;
      width: 100px;
      background-color: lightgray;
      margin-left: 20px;
      object-fit: contain;
      object-position: center;
      display: block;
    }
    .add-image-btn {
      background-image: none;
      width: 200px;
      height: 25px;
      align-items: center;
      background-color: black;
      color: white;
      left: -5px;
    }
    .pop-up-rolet-rows {
      input {
        width: 45%;
      }
      .rolet-row {
        display: flex;
        margin: 10px 0;
        .title {
          width: 250px;
        }
      }
      .row-guide {
        margin: 10px 0;
        .title {
          width: 90%;
        }
        .guide-lists {
          display: flex;
          flex-wrap: wrap;
          .title-guide-text {
            width: 50%;
          }
          .guide-name {
            opacity: 0;
          }
          .guide-size-settings {
            text-align: center;
            margin-right: 10px;
            .guide-title {
              font-size: 12px;
              background-color: black;
              color: white;
              border-radius: 3px;
            }
            .guide-box {
              background-color: lightgray;
              margin-top: 2px;
              height: 15px;
            }
          }
        }
        input {
          width: 35px;
        }
      }
      .row-is-settings {
        .checkbox-label {
          position: relative;
          display: inline-block;
          width: 35px;
          height: 15px;
          border: 1px solid #c6c6c6;
          border-radius: 10px;
          cursor: pointer;
          transition: 0.3s;
        }
        .checkbox-custom {
          position: absolute;
          border-radius: 50%;
          inset: 0;
          border-radius: 999px;
          background-color: lightgray;
          transition: 0.3s;
        }
        .checkbox-custom::before {
          position: absolute;
          content: '';
          width: 15px;
          height: 15px;
          right: 19px;
          border-radius: 50%;
          background-color: white;
          transition: 0.3s;
        }

        .checkbox-rolet-popup:checked + .checkbox-custom {
          background-color: green;
          transition: 0.3s;
        }
        .checkbox-rolet-popup:checked + .checkbox-custom::before {
          right: 0;
          transition: 0.3s;
        }
      }

      .row-thickness {
        
        .thickness-list {
          display: flex;
          gap: 10px; /* расстояние между кнопками */
        }

        .thickness-option {
          cursor: pointer;
          position: relative;
        }

        .thickness-option input[type="radio"] {
          position: absolute;
          opacity: 0;      /* прячем кружок */
          pointer-events: none;
        }

        .thickness-option span {
          display: inline-block;
          min-width: 35px;
          padding: 0 2px;
          text-align: center;
          border: 1px solid #ccc;
          border-radius: 3px;
          background: #fff;
          transition: all 0.2s ease;
        }

        /* при наведении */
        .thickness-option:hover span {
          border-color: #888;
        }

        /* выбранное */
        .thickness-option input[type="radio"]:checked + span {
          background: black;
          color: white;
        }
      }
      .row-end-list {
        .end-lists{
          display:flex;
          gap:10px;
          flex-wrap:wrap
        }
        .end-list-option{
          position:relative;
          cursor:pointer;
          user-select:none
        }
        .end-list-option input[type=checkbox]{
          position:absolute;
          opacity:0;
          pointer-events:none;
        }
        .end-list-option span{
          display: inline-block;
          min-width: 35px;
          padding: 0 2px;
          text-align: center;
          border: 1px solid #ccc;
          border-radius: 3px;
          background:#fff;
          transition:all .2s ease;
        }
        .end-list-option:hover span{
          border-color:#888;
        }
        .end-list-option input[type=checkbox]:checked + span{
          background:black;
          color: white;
        }
      }

      .row-height-width {
        .title-height-width {
          font-size: 12px;
          width: 175px;
        }
        .title-height-width-wrap {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-right: 10px;
          font-size: 10px;
          color: #888;
          .height-box-title,
          .width-box-title {
            text-wrap: nowrap;
          }
        }
        .height-width-box {
          display: flex;
          gap: 10px;
          .field-height-width {
            display: flex;
            flex-direction: column;
            input {
              width: 30px;
              height: 18px;
            }
          }
        }
      }
      .heights-box {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 45%;
        .height-box {
          width: 35px;
        }
      }
    }

    .row-description {
      margin: 10px 0;
      .text-description {
        width: 95%;
        min-height: 100px;
      }
    }

    .row-countries {
      display: flex;
      flex-wrap: wrap;
      margin: 15px 0;
      .country-item {
        width: 100px;
        font-size: 12px;
      }
    }
  }
}
#popup-add-group-rolet {
  /* background-color: lightgray;
  border-radius: 5px; */
}

.main-content {
  padding: 10px 0 20px 0;
  border: 1px solid #c6c6c6;
  border-top: none;
  .titel-page {
    padding: 10px;
  }
  .block-groups {
    padding: 10px;
    .group-rolet-system-item {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #c6c6c6;
      /* border-radius: 5px; */
      background-color: white;
      margin: 5px 0;
      padding: 5px;
      .btns-block {
        display: flex;
        align-items: center;
        gap: 30px;
      }
    }
    
    .btn-edit-group {
      width: 20px;
      height: 20px;
      background-image: url('/assets/images/icon-edit.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      opacity: 0.7;
      &:hover {
        color: white;
        opacity: 1;
      }
    }
    .btn-delete-group {
      width: 20px;
      height: 20px;
      background-image: url('/assets/images/icon-delete.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      opacity: 0.7;
      &:hover {
        color: white;
        opacity: 1;
      }
    }
  }
  .btn-active {
      width: 35px;
      height: 15px;
      position: relative;
      border: 1px solid #c6c6c6;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
      background-color: green;
      &::before {
        content: '';
        position: absolute;
        right: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: white;
        transition: 0.3s;
      }
      &.btn-unactive::before {
        right: 19px;
        transition: 0.3s;
      }
      &.btn-unactive {
        background-color: lightgray;
        transition: 0.3s;
      }
    }
  .block-systems {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .rolet-system-item {
      padding: 5px;
      border: 1px solid #c6c6c6;
      /* border-radius: 5px; */
      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .system-img {
        width: 120px;
        height: 150px;
        background-color: lightgray;
        overflow: hidden; 

        img {
          width: 100%;
          height: 100%;
          object-fit: contain; 
          object-position: center; 
          display: block;
        }
      }
      .btns-block-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        .btn-edit-system {
          background-image: url('/assets/images/icon-edit.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .btn-delete-system {
          background-image: url('/assets/images/icon-delete.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .btn-system {
          width: 20px;
          height: 20px;
          cursor: pointer;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .btn-add-system {
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-width: 120px;
      min-height: 180px;
      cursor: pointer;
      &:hover {
        background-color: #434343;
      }
    }
  }

  .block-guides,
  .block-end-lists,
  .block-lamels {
    padding: 10px;
  }
  .btn-add-group {
    width: 90%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
    &:hover {
      background-color: #434343;
    }
  }

    /* ----------------------------------- */
  .price-table {
    display: flex;
    flex-direction: column;
    .lamels-box {
      display: flex;
      .header-box {
        width: 260px;
        background-color: green;
        border: 1px solid lightgray;
      }
      .lamel-row {
        box-sizing: border-box;
        text-align: center;
        border: 1px solid lightgray;
        width: 100px;
      }
    }

    .groups-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      .group-wrap {
        .group-box-name {
          height: 25px;
          border: 1px solid lightgray;
          text-align: center;
          box-sizing: border-box;
          background-color: #c6c6c6;
          text-align: start;
          padding-left: 10px;
        }
        .boxes-box {
          display: flex;
          flex-direction: column;
          .box-box {
            display: flex;
            box-sizing: border-box;
            border: 1px solid lightgray;
            height: 25px;
            padding-left: 10px;
            .box-name {
              width: 250px;
            }
            .price-field {
              box-sizing: border-box;
              width: 100px;
              border-left: 1px solid lightgray;
              border-right: 1px solid lightgray;
              input {
                width: 90px;
                border: none;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}