extends ./services/layout

block content
  form(action='/', method='POST')
    .row
      .col-md-4
      .col-md-4.form-container
        if (error)
          .flash-error-container.text-error
            =error
        img.logo-image(src="/assets/images/logo.png")
        .input-form
          input.input-default.width-70(name='login', placeholder=i18n.__('Enter login') required)
        .input-form
          input.input-default.width-70(name='password', type='password', placeholder=i18n.__('Enter password') required)
        input.add-btn-login(type='submit', value=i18n.__('Login'))
