doctype html
html
  head
    title
    link(rel="stylesheet", href='/assets/stylesheets/main.css')
    link(rel="stylesheet", href="/assets/stylesheets/pdf.css")
    script(src="/assets/javascripts/vendor/jquery-1.11.2.min.js")
    script(src="/assets/javascripts/vendor/d3.min.js")
  body
    #wrapper
      #lang-selector
        div(style="float: right; width: 25px; cursor: pointer;" onClick="window.print();")
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g>
          <path d="M19 8H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zm-3 11H8v-5h8v5zm3-7c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-1-9H6v4h12V3z">
          </path>
          </g></svg>

        a#lang-ua(href="" class=(lang === 'ua' ? 'selected': ''))
          | Ua

        a#lang-it(href="" class=(lang === 'it' ? 'selected': ''))
          | It

        a#lang-es(href="" class=(lang === 'es' ? 'selected': ''))
          | Es

        a#lang-eng(href="" class=(lang === 'en' ? 'selected': ''))
          | En

        a#lang-de(href="" class=(lang === 'de' ? 'selected': ''))
          | De

        a#lang-rus(href="" class=(lang === 'ru' ? 'selected': ''))
          | Ru
      .bound-titel
        .logo-pdf
          img(src="https://admin.ekipazh.windowscalculator.net"+user.avatar)
        .block-header
          //- .logo-pdf
          //-   img(src="https://admin.ekipazh.windowscalculator.net"+user.avatar)
          .users-info 
            .customer-info
              .name 
                =i18n.__('Customer_pdf')
                | : 
                =order.customer_name
              //- .location 
              //-   =i18n.__('City_pdf')
              //-   | : 
              //-   =order.customer_location
              //-   | 
              .address
                =i18n.__('Address')
                | : 
                =order.customer_city
                | , 
                =order.customer_address
                | ,
                =order.customer_house
                | , 
                =i18n.__('Client flat')
                =order.customer_flat
                | , 
                =i18n.__('Client floor')
                =order.customer_floor
              .phone
                =i18n.__('Mob. phone')
                | : 
                =order.customer_phone
              if (order.comment)
                .comment 
                  =i18n.__('Order comment')
                  | : 
                  =order.comment
            .manager-info
              .name 
                =i18n.__('Salon_pdf')
                | : 
                =user.name
                | ; 
              //- .location
              //-   =i18n.__('City')
              //-   | :  
              //-   =user.city.name
              .address 
                =i18n.__('Address')
                | : 
                =user.city.name || '-------'
                , 
                | 
                =user.address || '-------'
                //- | (
                //- =('0' + order.created.getDate()).slice(-2)
                //- | .
                //- =('0' + (order.created.getMonth() + 1)).slice(-2)
                //- | .
                //- =order.created.getFullYear()
                //- | )
              .phone
                =i18n.__('Phone_u')
                | : 
                =user.city_phone || '-------'
                | ; 
                =user.email || ''
          .info-header
            .order-num 
              | №
              | 
              =order.order_hz 
              | 
              =i18n.__('from')
              | 
              =('0' + order.created.getDate()).slice(-2)
              | .
              =('0' + (order.created.getMonth() + 1)).slice(-2)
              | .
              =order.created.getFullYear()
              | 
            .info_header-content
              .row1 
                .total-count-name
                    =i18n.__('The total number of constructions')
                .total-square-name
                    =i18n.__('The total area of constructions')
                .total-perimeter-name
                    =i18n.__('The total perimeter of constructions')
                //- .total-price-name
                //-       =i18n.__('TOTAL')
                //-       | :

              .row2
                .total-count-value
                    =count
                .total-square-value
                    =square.toFixed(2)
                .total-perimeter-value
                    =perimeter.toFixed(2)
                //- .total-price-value 
                //-     =parseFloat(total).toFixed(2)
                //-     | 
                //-     =currency
        .block-subheader
          .users-info 
            .customer-info
              .name 
                =i18n.__('Customer_pdf')
                | : 
                =order.customer_name
              //- .location 
              //-   =i18n.__('City_pdf')
              //-   | : 
              //-   =order.customer_location
              //-   | 
              .address
                =i18n.__('Address')
                | : 
                =order.customer_city
                | , 
                =order.customer_address
                | ,
                =order.customer_house
                | , 
                =i18n.__('Client flat')
                =order.customer_flat
                | , 
                =i18n.__('Client floor')
                =order.customer_floor
              .phone
                =i18n.__('Mob. phone')
                | : 
                =order.customer_phone
              if (order.comment)
                .comment 
                  =i18n.__('Order comment')
                  | : 
                  =order.comment
            .manager-info
              .name 
                =i18n.__('Salon_pdf')
                | : 
                =user.name
                | ; 
              //- .location
              //-   =i18n.__('City')
              //-   | :  
              //-   =user.city.name
              .address 
                =i18n.__('Address')
                | : 
                =user.city.name || '-------'
                , 
                | 
                =user.address || '-------'
                //- | (
                //- =('0' + order.created.getDate()).slice(-2)
                //- | .
                //- =('0' + (order.created.getMonth() + 1)).slice(-2)
                //- | .
                //- =order.created.getFullYear()
                //- | )
              .phone
                =i18n.__('Phone_u')
                | : 
                =user.city_phone || '-------'
                | ; 
                =user.email || ''
          a.test-qr-block(href="https://bank.gov.ua/qr/QkNEDQowMDINCjINClVDVA0KDQrQpNCe0J8g0J_QsNCy0LvQtdC90LrQviDQm9GO0LTQvNC40LvQsCDQkNC90YLQvtC90ZbQstC90LANClVBODQzMDUyOTkwMDAwMDI2MDAyMDUwMjcxNTkwDQpVQUg1OTEzNQ0KMTkwNDgyNDM4NA0KDQoNCtCe0L_Qu9Cw0YLQsCDQt9CwINC30LDQvNC-0LLQu9C10L3QvdGPIOKEliBEVDI1LzE1NS0xMjMwMTUg0LLRltC0IDA0LjA2LjIwMjUNCg" target="_blank") 
            img.img-qr(src='/assets/images/qr-code.png')
            .text-qr-block 
              .text-qr 
                =i18n.__('Payment')
          .price-info
            .row1-price
              .price-constructions-name 
                =i18n.__('Constructions')
              if (+maxConstructDisc !== 0 && +parseFloat(-basePrice + basePriceDisc).toFixed(2) !== 0)
                .price-disocunt-constructions-name 
                  =i18n.__('Discount on constructions')
                  |  - 
                  =parseFloat(maxConstructDisc).toFixed(0)
                  |  %
                .price-constructions-name 
                  =i18n.__('Cost of constructions with discount')
              .price-addelems-name
                =i18n.__('Add. elements')
              if (+maxAddElemDisc !== 0 && +parseFloat(-additionalPrice + additionalPriceDisc).toFixed(2) !== 0)
                .price-disocunt-addelems-name
                  =i18n.__('Discount on additional elements')
                  |   - 
                  =parseFloat(maxAddElemDisc).toFixed(0)
                  |  %
                .price-addelems-name
                  =i18n.__('Cost of additional elements with discount')
              .price-delivery-name 
                =i18n.__('Delivery')
              .price-mounting-name
                =i18n.__('Mounting')
              .price-addservice-name
                =i18n.__('Additional services')
              .price-total-name
                =i18n.__('TOTAL')
                | :
            .row2-price
              .price-constructions-value 
                =parseFloat(basePrice).toFixed(2)
                | 
                =currency
              if (+maxConstructDisc !== 0 && +parseFloat(-basePrice + basePriceDisc).toFixed(2) !== 0)
                .price-discount-constructions-value 
                  =parseFloat(-basePrice + basePriceDisc).toFixed(2)
                  | 
                  =currency
                .price-constructions-value 
                  =parseFloat(basePriceDisc).toFixed(2)
                  | 
                  =currency
              .price-addelems-value
                =parseFloat(additionalPrice).toFixed(2)
                | 
                =currency
              if (+maxAddElemDisc !==0 && +parseFloat(-additionalPrice + additionalPriceDisc).toFixed(0) !== 0)
                .price-discount-addelems-value
                  =parseFloat(-additionalPrice + additionalPriceDisc).toFixed(2)
                  | 
                  =currency
                .price-addelems-value
                  =parseFloat(additionalPriceDisc).toFixed(2)
                  | 
                  =currency
              .price-delivery-value 
                =parseFloat(delivery).toFixed(2)
                | 
                =currency
              .price-mounting-value
                =parseFloat(mounting).toFixed(2)
                | 
                =currency
              .price-addservice-value
                =parseFloat(addServicePrice).toFixed(2)
                | 
                =currency
              .price-total-value
                =parseFloat(total).toFixed(2)
                | 
                =currency
      //- .logo-wrapper-header-pdf
      div(id="products")
         !{products}
      //- .row.warning-label
      //-   .col-md-12
      //-     =i18n.__('Plant responsibility')
      //- .row.warning-label
      //-   .col-md-12
      //-     =i18n.__('Responsabilidad del cliente')
      br
      //- .row(style="font-size: 13px")
      //-   .col-md-6
      //-     =i18n.__('Customer_pdf')
      //-     | 
      //-     span.signature
      //-       | 
      //-   .col-md-6
      //-     =i18n.__('Salon_pdf')
      //-     | 
      //-     span.signature
      //-       | 
    script(src="/assets/javascripts/PDF/pdf.js")
