doctype html
html
  head
    title
    link(rel="stylesheet", href='/assets/stylesheets/main.css')
    link(rel="stylesheet", href="/assets/stylesheets/pdf.css")
    script(src="/assets/javascripts/vendor/jquery-1.11.2.min.js")
    script(src="/assets/javascripts/vendor/d3.min.js")
  body
    #wrapper
      #lang-selector
        a#lang-ua(href="" class=(lang === 'ua' ? 'selected': ''))
          | Ua

        | &nbsp;

        a#lang-it(href="" class=(lang === 'it' ? 'selected': ''))
          | It
        | &nbsp;

        a#lang-es(href="" class=(lang === 'es' ? 'selected': ''))
          | Esp
        div(style="float: right; width: 25px; margin-left: 20px; cursor: pointer;" onClick="window.print();")
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g>
          <path d="M19 8H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zm-3 11H8v-5h8v5zm3-7c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-1-9H6v4h12V3z">
          </path>
          </g></svg>
      .bound
        .row
          .col-md-7
            img(src="/assets/images/logo_ekipazh.png" style="width:inherit;")
          .col-md-5
            b
              br
              | №
              | 
              =order.order_hz 
        .row
          .col-md-7
            p
              =i18n.__('Customer_pdf')
              | : 
              =order.customer_name
              br
              =i18n.__('City_pdf')
              | : 
              =order.customer_location
              | 
              br
              =i18n.__('Address')
              | : 
              =order.customer_address
              | 
              | д. 
              =order.customer_house
              | 
              | кв. 
              =order.customer_flat
              | 
              | этаж 
              =order.customer_floor
              br
              =i18n.__('Mob. phone')
              | : 
              =order.customer_phone
              br
              if (order.comment)
                =i18n.__('Order comment')
                | :
                =order.comment
            p 
              =i18n.__('Salon_pdf')
              | : 
              =user.name
              | ; 
              br
              =i18n.__('Phone_u')
              | : 
              =user.city_phone || '-------'
              | ; 
              br
              =i18n.__('City')
              | :  
              =user.city.name
              br
              =i18n.__('Address')
              | : 
              =user.address || '-------'
              | 
              | (
              =('0' + order.created.getDate()).slice(-2)
              | .
              =('0' + (order.created.getMonth() + 1)).slice(-2)
              | .
              =order.created.getFullYear()
              | )
          .col-md-5
            p
              table(cellspacing="0" cellpadding="2" border="0" style="font-size:11px; border-collapse: collapse; text-align: right; width: 100%")
                tr
                  td(style="width:650pt;text-align: left;")
                    =i18n.__('The total number of constructions')
                  td(align="right" style="width:80pt; color:#283891; padding-right:20px;")
                    =count
                tr
                  td(style="text-align: left;")
                    =i18n.__('The total area of constructions')
                  td(align="right" style="color:#283891; padding-right:20px;")
                    =square.toFixed(2)
                tr
                  td(style="text-align: left;")
                    =i18n.__('The total perimeter of constructions')
                  td(align="right" style="color:#283891; padding-right:20px;")
                    =perimeter.toFixed(2)
              br
              br
              table(cellspacing="0" cellpadding="2" border="0" style="font-size:11px; border-collapse: collapse; text-align: right; width: 100%")
                tr
                  th
                  th(align="rigth" style="color:#283891; padding-right:10px; ")
                    =i18n.__('Discount')
                    | %
                  th(align="rigth" style="color:#283891; padding-right:10px; ")
                    =i18n.__('Total to pay')
                  th
                tr
                  td(style="text-align: left;")
                    =i18n.__('Constructions')
                  td(align="rigth" style="color:#283891; padding-right:10px; ")
                    =parseFloat(maxConstructDisc).toFixed(2)
                  td(align="rigth" style="color:#283891; padding-right:10px; ")
                    =parseFloat(basePriceDisc).toFixed(2)
                  td
                tr
                  td(style="text-align: left;")
                    =i18n.__('Add. elements')
                  td(align="rigth" style="color:#283891; padding-right:10px; ")
                    =parseFloat(maxAddElemDisc).toFixed(2)
                  td(align="rigth" style="color:#283891; padding-right:10px; ")
                    =parseFloat(additionalPriceDisc).toFixed(2)
                  td
                tr
                  td(style="text-align: left;")
                    =i18n.__('Delivery')
                  td(align="rigth" style="color:#283891; padding-right:10px; ")
                  td(align="rigth" style="color:#283891; padding-right:10px; ")
                    =parseFloat(delivery).toFixed(2)
                  td
                tr
                  td(style="text-align: left;")
                    =i18n.__('Mounting')
                  td(align="rigth" style="color:#283891; padding-right:10px; ")
                  td(align="rigth" style="color:#283891; padding-right:10px; ")
                    =parseFloat(mounting).toFixed(2)
                  td
                tr
                  td(style="text-align: left;")
                    b
                      =i18n.__('TOTAL')
                      | :
                  td(align="rigth" style="color:#283891; padding-right:10px; ")
                  td(align="rigth" style="color:#283891; padding-right:10px; ")
                    b=parseFloat(total).toFixed(2)
                    | 
                    =currency
                  td
              div(id="mainSVG", value=order)
      hr
      div(id="products")
         !{products}
      .row.warning-label
        .col-md-12
          =i18n.__('Plant responsibility')
      .row.warning-label
        .col-md-12
          =i18n.__('Responsabilidad del cliente')
      br
      .row
        .col-md-6
          =i18n.__('Customer_pdf')
          | 
          span.signature
            | 
        .col-md-6
          =i18n.__('Salon_pdf')
          | 
          span.signature
            | 
    script(src="/assets/javascripts/PDF/pdf.js")
