.pop-up-default.alert-send-order
  .pop-up-close-wrap
    a(class="pop-up-close", href="#")
  span.pop-up-header
    | Подтвердите действие
  .row
    .col-md-12.text-center#order-action-type
      | Отправить заказ на завод для выставления счёта?
  .row
    .col-md-6.text-center
      input.pop-up-submit-btn#send-order-btn(type="button" value="Да")
    .col-md-6.text-center
      input.pop-up-deny-btn(type="button" value="Нет")
