table#group-items(cellpadding="0" cellspacing="0" border="0")
  thead
    tr.group-items-header
      td.item-input-choose
        =i18n.__('Select')
      td.item-name
        =i18n.__('Title')
      td.item-count
        =i18n.__('Amount')
      td.item-width
        =i18n.__('Width')
      td.item-height
        =i18n.__('Height')
      td.item-direction
        =i18n.__('Direction')
      td.item-color
        =i18n.__('Color')
      td.item-length
        =i18n.__('Length')
  tbody
    tr.group-item
      td.message-select-group(colspan="8")
        =i18n.__('Select group')
