.pop-up.popup-edit-item
  form#form-edit-item(method="post" action="/base/doors/hardware/item/edit" enctype="multipart/form-data")
    input(type="hidden" name="item_id" value="")
    .pop-up-close-wrap
      a.pop-up-close(href="#")
    span.pop-up-header
      =i18n.__('Edit hardware')
    .row
      .col-md-12.text-center.margin-10
        span#item-name-container
    .row
      .col-md-3
        =i18n.__('Direction')
        | : 
      .col-md-3
        =i18n.__('Inner window color')
        | : 
      .col-md-3.length-preference
        =i18n.__('Length')
        | : 
      .col-md-3
        =i18n.__('Amount')
        | :
    .row
      .col-md-3
        select.select-default.width-100(name="direction_id")
          option(value="1")=i18n.__('Ignore')
          option(value="2")=i18n.__('Right-hand')
          option(value="3")=i18n.__('Left-hand')
      .col-md-3
        select.select-default.width-100(name="color_id")
      .col-md-3.length-preference
        input.input-default.width-100(type="text" name="length" value="0")
      .col-md-3
        input.input-default.width-100(type="text" name="amount" value="0")
    .row.margin-5
      .col-md-6.text-center
        =i18n.__('Width (mm)')
        | :
      .col-md-6.text-center
        =i18n.__('Height (mm)')
        | :
    .row
      .col-md-6.text-center
        | min 
        input.input-default.width-30(type="text" name="width_min" value="0") 
        | 
        | max 
        input.input-default.width-30(type="text" name="width_max" value="0")
      .col-md-6.text-center
        | min 
        input.input-default.width-30(type="text" name="height_min" value="0") 
        | 
        | max 
        input.input-default.width-30(type="text" name="height_max" value="0")
    .row.margin-10
      .col-md-12.text-center
        input.add-btn(type="submit" value=i18n.__('Save'))
