.pop-up-default.delete-alert
  .pop-up-close-wrap
    a.pop-up-close(value="" href="#")
  span.pop-up-header
    =i18n.__('Removing elements')
  .alert-name-pop-up
    =i18n.__('Are you sure?') 
  .btns-align
    input.pop-up-submit-btn(id="delete-elements-submit", href="#", type="button" value=i18n.__('Remove'))
    input.pop-up-deny-btn(id="delete-elements-deny", href="#", type="button" value=i18n.__('Cancel'))