.pop-up.popup-add-folder
  form#add-new-connector-folder-form(method="POST" action="/base/options/folders/add" enctype="multipart/form-data")
    input(type="hidden" name="type_id" value=folderTypeId required)
    .pop-up-close-wrap
      a(class="pop-up-close", href="#")
    span.pop-up-header
      =i18n.__('Add new group')
    .row
      .col-md-5.text-right
        =i18n.__('Position')
        | /
        =i18n.__('Group name')
        | :
      .col-md-7
        input.input-default(type="text" name="position" value="" style="width: 30px;")
        input.input-default(type="text" value="" name="name" style="width: 149px;" required)
    .row
      .col-md-5.text-right
        =i18n.__('Link')
        | :
      .col-md-7
        input.input-default(type="text" name="link" value="" style="width: 185px;")
    .row
      .col-md-5.text-right
        =i18n.__('Description')
        | :
      .col-md-7
        textarea.input-default(type="text" name="description" value="" style="width: 185px; height: 100px; resize: none;")
    .row#max-sizes
      .col-md-5.text-right(style="width: 145px!important;")
        | Макс. размер (мм):
      .col-md-7(style="width: 205px!important;")
        input.input-default(type="text" name="max_size" value="0" style="width: 185px!important;")
    .row
      .col-md-6
        input.hidden.folder-image-file(type="file" name="folder_img")
        input.add-image-btn(type="button")
      .col-md-6
        img.folder-image(src="/local_storage/default.png")
    .row.block-center.text-center
      input.btn-submit(type="submit" value=i18n.__('Add'))
