extends layout

block content
  .label
    =i18n.__('Account successfully activated.')
    | 
    =i18n.__('Redirect to Windows calculator application after')
    | 
    span#counter
      | 5
    | 
    =i18n.__('sec.')